.lead {
    display: grid;
    max-width: 984px;
    width: 100%;
    justify-items: center;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        max-width: 320px;
    }
}