.place__website {
    display: flex;
    flex-direction: column;
    justify-content: end;
    grid-column: 2;
    grid-row: 1;
}

@media screen and (max-width: 598px) {
    .place__website {
        grid-column: 1;
        grid-row: 2;
        width: 288px;
    }
}